.form-container{
    border: 1 px solid gray;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 216, 216);
    margin: 10px auto;
    border-radius: 10px;
    padding-left: 12px;
}

.form-title{
    text-align: center;
}
.form-control label{
    display: block;
}
.btn-submit{
    margin-top: 15px;
    width: 20%
}